.navBar {
    background-color: #1a202c;
    padding:  20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.menuIcon {
    color: #ffffff;
    font-size: 30px;
    cursor: pointer;
}

.menuMobileAberto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a202c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.linkMenuMobile {
    color: #f6ad55;;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
}

.menuDesktop {
    display: none;
}

.linkDesktop {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    font-size: 16px;
}

.linkDesktop.ativo {
    color: #f6ad55;
    font-weight: bold;
}

@media (min-width: 768px) {
    
.menuIcon {
        display: none;
}

.menuDesktop{
        display: block;
}
}