.heroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../assets/hero-background.jpg.png');
    background-color: #1a202c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeats;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    max-width: 0 auto;
    margin: 0 auto;
}

.titulo {
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.titulo, .subtitulo {
    text-align: center;
}

.destaque {
    color: #ff8c00;
    border: #ff8c00;
}

.subtitulo {
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
    margin-bottom: 30px;
}

.botaoCta {
    background-color: #f6ad55;
    color: #1a202c;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1px solid #4a5568;
}

.botaoCta:hover {
    background-color: #ff8c00;
    cursor: pointer;
    border-color: #ff8c00;
}