.formCard {
    background-color: #2d3748;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #4a5568;
}

.formCard h2 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
}

.formCard p {
    text-align: center;
    font-size: 18px;
    color: #a0aec0;
    margin-bottom: 30px;
}

.form {
   display: flex;
   flex-direction: column;
   gap: 15px; 
}

.form label {
    font-weight: bold;
    font-size: 14px;
    color: #a0aec0;
    margin-bottom: -5px;
}

.form input {
    background-color: #1a202c;
    border: 1px solid #4a5568;
    color: white;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

.botaoLaranja {
    background-color: #dd9b4c;
    color: #1a202c;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
    border: 1x solid #4a5568;
    cursor: pointer;
    margin-top: 15px;
}

.botaoLaranja:hover {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.linkRegisto {
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
    color: #a0aec0;
}

.linkRegisto a {
    color: #ff8c00;
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
}

.linkRegisto a:hover{
    text-decoration: underline;
}

.divisor {
    display: flex;
    align-items: center;
    text-align: center;
    color: #a0aec0;
    margin: 20px 0;
}

.divisor::before,
.divisor::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #4a5568;
}

.divisor::before { margin-right: 10px; }
.divisor::after { margin-left: 10px; }

.Ou {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
