html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}